<div class="container">
        <div class="row">`
          

            <div class="col-md-6 main">

            <form action="/savedPassword" method="post">
            <input type="text" name="email" placeholder="email" required>
            <input class="box" type="password" name="password" id="password" placeholder="CurrentPassword " required/><br>
            <input class="box" type="password" name="Newpassword" id="password" placeholder="NewPassword " required/><br>
            <input type="submit">
         </form>
 </div>
 </div>
 </div>
 