<body>
    <form action="/uploadCsv" method="post" enctype="multipart/form-data" class="box login">
 <input type="file" name="file">
 <input type="submit" class="" value="Upload" tabindex="1">
 </form>


</body>
